.grid {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
  width: 35%;
}

.callus .callus-box {
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 215, 215);
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

.social-media .social-media-box {
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 215, 215);
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

.contact-form .contact-form-box {
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 215, 215);
  margin: 2rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

.phone-icon {
  font-size: 1.5rem;
  border: 0.2rem solid orangered;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
  color: orangered;
}

.callus .callus-box h1 {
  font-size: 30px;
  font-weight: 800;
}

.callus .callus-box h2 {
  font-weight: 800;
  padding: 10px 0px 10px 0px;
}

.callus .callus-box h2 a {
  text-decoration: none;
  color: #3560ca;
  font-size: 20px;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list li {
  margin: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: 800;
}

.social-list li i {
  font-size: 35px;
  padding: 5px;
}

.social-list li a:hover {
  color: rgb(70, 70, 70);
  transition: all 0.3s ease-in-out;
}

.social-list li a {
  text-decoration: none;
  color: black;
}

.fb {
  color: #3b5998;
}

.tw {
  color: #00acee;
}

.ld {
  color: #0077b5;
}

.form-col1 {
  width: 100%;
}

.form-col2 {
  width: 100%;
}

.formular {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 900;
  font-size: 2rem;
}

.description {
  width: 60%;
  text-align: center;
}

.form-button {
  width: 30%;
  font-size: 20px !important;
}

.div-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .grid {
    flex-direction: column-reverse;
  }
  .flex-column {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .inputs {
    flex-direction: column;
  }
  .description {
    width: 100%;
  }

  .formular {
    width: 100%;
  }
}
