.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
  cursor: pointer;
}
.languages h2 {
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px;
  color: white;
}

.language {
  color: rgba(112, 199, 112, 0.507);
}

.language-arrow {
  color: rgba(112, 199, 112, 0.507);
  margin: 5px;
  font-size: 10px;
}

.popup-language {
  position: absolute;
  width: 170px;
  height: 120px;
  background: linear-gradient(
    90deg,
    rgb(25, 23, 49) 0%,
    rgba(6, 6, 34, 1) 52%,
    rgba(33, 60, 65, 1) 100%
  );
  top: 50px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
}

.popup-language button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(19, 143, 130);
  color: white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.popup-language button:hover {
  color: black;
  background-color: rgb(88, 175, 166);
}

.hidden {
  display: none;
}
