.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 120px;
  cursor: pointer;
}
.languages h2 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 10px;
  color: white;
  user-select: none;
}

.language {
  color: rgb(112, 199, 112);
}

.language-arrow {
  color: rgb(112, 199, 112);
  margin: 5px;
  font-size: 10px;
}

.popup-language {
  position: absolute;
  width: 170px;
  height: 140px;
  background: rgb(25, 23, 49);
  top: 50px;
  right: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 3px rgb(31, 28, 28);
  z-index: 1;
}

.popup-language button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 1px 2px 4px -1px rgba(37, 37, 37, 0.64);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup-language button:hover {
  color: white;
  background-color: rgb(187, 71, 53);
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.svgImg {
  height: 25px;
  border-radius: 50%;
}
