.home-slider {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.presentation h3 {
  text-align: center;
}

.section-two {
  display: flex;
  align-items: center;
}

.animation-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 10px;
  max-width: 40%;
  margin: auto auto auto 0;
}

.info {
  max-width: 35%;
  font-size: 0.8rem;
}

.info h2 {
  text-align: center;
}

.home-title {
  font-size: 3rem;
}

.home-button {
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 17px;
  border: 0;
  font-weight: bold;
  margin-top: 30px;
  background: #000000;
  color: #ffffff;
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.58);
  transition: all 0.5s ease-in;
}

.home-button span {
  position: relative;
  z-index: 1;
}

.home-button::after {
  content: "";
  position: absolute;
  width: 1%;
  height: 100%;
  left: 0px;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.home-button:hover::after {
  background: rgb(26, 77, 143);
  opacity: 1;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box video {
  width: 70%;
  border-radius: 0 0 500px 0;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.first-animation {
  padding: 2rem;
  margin: auto 0 auto auto;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
  .home-slider {
    flex-direction: column;
    height: 100%;
  }
  .info {
    max-width: 80%;
  }

  .section-two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .first-animation {
    margin: 0;
  }
  .animation-info {
    margin: 0 0 2rem 0;
    max-width: 80%;
  }
}
